html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    touch-action: manipulation;
}

body * {
    touch-action: manipulation;
}

#first-loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    text-align: center;
    background: none;
    background-color: #181818;
    display: flex;
    align-items: center;
    justify-content: center;
}

#first-loading>div {
    text-align: center;
    color: white;
}

.fixed-front {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    text-align: center;
    background: none;
}

#clickToStart {
    z-index: 200 !important;
}

.fixed-front .text {
    position: fixed;
    font-family: sans-serif;
    text-transform: uppercase;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.fixed-front img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    margin: auto;
}

.centered-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    z-index: 200;
}

.centered-modal .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.centered-modal .buttons .btn {
    background: #007bff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    flex: 1;
    margin: 5px;
    text-decoration: none;
}

.hidden {
    display: none;
    opacity: 0;
    visibility: hidden;
}

.logo {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    width: 75px;
    height: 67px;
}

.camera-info {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: white;
}

.camera-info>div {
    flex: 1;
    text-align: center;
}

main.camera, #camera--view, #camera--sensor, #camera--output {
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 300;
}

#camera--view, video.reverse, .a-canvas.reverse {
    transform: scaleX(-1);
    filter: FlipH;
}

#camera--output {
    left: 0px;
    bottom: 0px;
    z-index: -1;
    display: none;
}

#camera--output.taken:not(.show-fullscreen) {
    height: 120px !important;
    width: 120px !important;
    transition: all 200ms ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    top: 20px;
    right: 20px;
    left: calc(100% - 140px);
    bottom: calc(100% - 140px);
    z-index: 1;
}

#camera--output.show-fullscreen {
    transition: all 200ms ease-in;
    border: none;
    box-shadow: 0 0 50px 50px rgba(0, 0, 0, 0.652);
    top: 20px;
    right: 20px;
    left: 20px;
    bottom: 20px;
    z-index: 10;
    /* object-fit: contain !important; */
    height: calc(100% - 40px) !important;
    width: calc(100% - 40px) !important;
}

.btn {
    background-color: white;
    color: black;
    font-size: 16px;
    border-radius: 50%;
    border: none;
    padding: 15px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 1;
    line-height: 0;
    outline: none;
    width: 46px;
    height: 46px;
}

.btn>img {
    width: 100%;
    height: 100%;
}

#camera--trigger {
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

#camera--change {
    top: 20px;
    left: 20px;
}

#rotate-left {
    top: 50%;
    left: 20px;
    transform: translateY(calc(-40px - 50%));
}

#rotate-right {
    top: 50%;
    right: 20px;
    transform: translateY(calc(-40px - 50%));
}

#zoom-in {
    top: 50%;
    right: 20px;
    transform: translateY(calc(40px - 50%));
}

#zoom-out {
    top: 50%;
    left: 20px;
    transform: translateY(calc(40px - 50%));
}

#download--button {
    top: 160px;
    right: 20px;
}

#share--button {
    top: 160px;
    right: 86px;
}

#enable-particles {
    top: 20px;
    left: 86px;
}

#enable-particles:not(.active) {
    background-color: rgb(191, 191, 191);
    color: black;
    box-shadow: none;
}

.canvas-env-map {
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 300;
}

.not-mobile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.not-mobile>div {
    width: 100%;
    white-space: normal;
    padding: 10px;
}