@font-face {
    font-family: "GlobotipoRounded-Bold";
    font-style: bold;
    font-weight: 600;
    src: url("../font/globotipo/GLOBO\ RD\ BD.TTF") format("truetype");
}

@font-face {
    font-family: "Globotipo Rounded";
    font-style: normal;
    font-weight: 400;
    src: url("../font/globotipo/GLOBO\ RD\ RG.TTF") format("truetype");
}

.tutorial i, .tutorial svg {
    color: white;
    fill: white;
    stroke: white;
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        color: yellow;
        fill: yellow;
        stroke: yellow;
    }
}

@-webkit-keyframes blink-animation {
    to {
        color: yellow;
        fill: yellow;
        stroke: yellow;
    }
}

.tutorial {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 200;
    transition: 500ms;
    display: none;
}

.tutorial .tutorial--logo {
    text-align: center;
}

.tutorial.start {
    display: block;
}

.tutorial .tutorial--close {
    background: white;
    outline: none;
    border: none;
    position: fixed;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    line-height: 0px;
    opacity: 1 !important;
    width: 46px;
    height: 46px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
}

.tutorial--close>svg, .tutorial--close>i {
    color: black !important;
    fill: black !important;
    stroke: black !important;
}

.tutorial * {
    transition: 500ms;
}

.tutorial.start>* {
    display: block;
    opacity: 0;
}

.tutorial.start .show {
    opacity: 1;
}

.tutorial--standard {
    z-index: 100;
    position: fixed;
    left: 50%;
    top: 50%;
    height: 65%;
    width: 80%;
    transform: translate(-50%, -50%);
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.tutorial--logo {
    margin-bottom: 20px;
}

.tutorial--text {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    font-family: "Globotipo Rounded";
}

.tutorial--confirm {
    margin: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 15px 50px;
    border-radius: 50px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    font-family: "Globotipo Rounded";
}

.tutorial--move {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.tutorial--move .up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80px);
}

.tutorial--move .left {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-80px, -50%);
}

.tutorial--move .down {
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 80px);
}

.tutorial--move .right {
    position: fixed;
    right: 50%;
    top: 50%;
    transform: translate(80px, -50%);
}

.tutorial--change-camera {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.tutorial--change-camera .arrow {
    position: fixed;
    right: 20%;
    bottom: 85px;
    transform: translateX(calc(-50% - 18px));
}

.tutorial--particles {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.tutorial--particles .arrow {
    position: fixed;
    left: 31px;
    top: 75px;
}

.tutorial--zoom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.tutorial--zoom img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tutorial--picture {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.tutorial--picture .arrow {
    position: fixed;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
}

.tutorial--rotate {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.tutorial--rotate .left {
    position: fixed;
    left: 40px;
    bottom: 80px;
}

.tutorial--rotate .right {
    position: fixed;
    right: 40px;
    bottom: 80px;
}

.tutorial--center {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.tutorial--center .arrow {
    position: fixed;
    left: 20%;
    bottom: 85px;
    transform: translateX(calc(50% + 18px));
}